body {
    background: linear-gradient(rgb(40, 4, 86),rgb(41, 2, 58));
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
}

#addtestBtn {
    position: absolute;
    top: 52%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#addtestBtn:hover {
    background-color: #45a049;
}

#addtestBtn:active {
    padding: 9px 18px;
    font-size: 15px;
}