body {
    background: linear-gradient(rgb(40, 4, 86),rgb(41, 2, 58));
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 600px;
}

#titleTxt {
    color: #60de64;
    font-weight: 700;
}

#ourTools {
    margin-top: 30px;
    font-size: 24px;
    color: rgb(73, 240, 179);
}

#tools {
    margin-top: 30px;
    min-height: 400px;
    min-width: 300px;
    border: 2px solid rgb(55, 61, 59);
    border-radius: 10px;
}

.individualTools {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px;
}

.individualTools:hover {
    background-color: rgba(0, 0, 0, 0.7);

}

.toolLogo{
    box-shadow: 2px 2px 8px rgb(108, 106, 106);
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-right: 20px;
}

.toolLogo img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 5px;
}

.toolInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.toolInfo h4 {
    font-size: 16px;
    font-weight: 600;
    color: #60de64;
}

.toolInfo p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-style: italic;
    color: white;
}