body{
    background: linear-gradient(rgb(40, 4, 86),rgb(41, 2, 58));
    margin:0;
    padding:0;
    min-height: 150vh;
    font-family: Arial, sans-serif;
    color:white;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
    max-width: 600px;
}

#toolPareeksha {
    color: #60de64;
    font-weight: bold;
}

#btnsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

#btnsDiv button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    width: 130px;
}

#btnsDiv button:active {
    background-color: #45a049;
}

#preview{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 10px;
}

#prevText{
    position: relative;
    top: 10px;
    left: 10px;
    margin-bottom: 10px;
    color: orange;
}

#previewTest {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    min-height: 50px;
    margin: 20px;
}

#jumpBtn {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 14px;
    font-size: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#jumpBtn:active {
    background-color: #45a049;
}

#navBtns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

#navBtns button {
    padding: 7px 14px;
    font-size: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#navBtns button:active {
    background-color: #45a049;
}

#note{
    text-align: center;
    color: red;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 300; /* use 100-400 for thinner if your font supports it */
}